<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Child Component</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    Child name: {{ childName }}
  </mat-card-content>
</mat-card>
