.example-card {
  max-width: 500px;
  background-color: crimson;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
