<p>Nested Routes</p>

<div class="nav">
  <button routerLink="nested-route1">Nested Route 1</button>
  <button routerLink="nested-route2">Nested Route 2</button>
</div>
<p>&lt;router-outlet></p>
<router-outlet>
