<h1>Task 10</h1>

<p>Interpolation</p>
<p>Result <code> {{ interpolation | json}}</code></p>

<br>

<p>Two-Way Binding using ngModel</p>
<input [(ngModel)]="twoWayDataBinding"/>
<p>Result <code> {{ twoWayDataBinding | json}}</code></p>

<br>

<p>Local Reference</p>
<input #inputLocalRef (input)="localReferenceUpdate(inputLocalRef.value)"/>
<p>Result <code> {{ localReference | json}}</code></p>

<br>

<p>$event</p>
<input (input)="eventTargetBinding($event.target.value)"/>
<p>Result <code> {{ eventTarget | json}}</code></p>
