<p>Please click on page 'Task 4 - Part two' after you submit your data!</p>

<input #inputFieldLocalRef type="text">

<button (click)="send(inputFieldLocalRef)">Submit</button>

<p>Submitted: {{ getSharedData() || '...' }}</p>
