<label for="email">Email</label><br>
<input id="email" (input)="emailInput($event.target.value)"/>
<p class="invalid"> {{ validationEmailMessage }}</p>
<br>
<label for="email">Phone number</label><br>
<input name="phone" (input)="phoneInput($event.target.value)"/>
<p class="invalid"> {{ validatePhoneNumberMessage }}</p>

