<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="1">Task 1</a>
      <a mat-list-item routerLink="2">Task 2</a>
      <a mat-list-item routerLink="3">Task 3</a>
      <a mat-list-item routerLink="4">Task 4 - Part one</a>
      <a mat-list-item routerLink="4-part-2">Task 4 - Part two</a>
      <a mat-list-item routerLink="5">Task 5</a>
      <a mat-list-item routerLink="6">Task 6</a>
      <a mat-list-item routerLink="7">Task 7</a>
      <a mat-list-item routerLink="8">Task 8</a>
      <a mat-list-item routerLink="9">Task 9</a>
      <a mat-list-item routerLink="10">Task 10</a>
      <a mat-list-item routerLink="11">Task 11</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>wallet-hub</span>
    </mat-toolbar>
    <section class="basic-container">
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
