<mat-card>
  <mat-card-content>
    <b>Question</b>
    <p>Demonstrates the usage of ngOnChanges, @Ouput() and @Input()?</p>
    <b>Answer</b>
    <p>Task 1 will be demonstrated by having two nested components. Parent & Child components respectively. When we click the button 'SET CHILD NAME' in parent component ngOnChanges lifecycle event is triggered in the child component. Immediately we emmit an event to parent component that name property has been changed</p>
  </mat-card-content>
</mat-card>
