<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Parent Component</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-child [name]="childName" (change)="messageFromChildEvent($event)"></app-child>
    <p>Message From Child: {{ messageFromChild }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" (click)="setChildName()">SET CHILD NAME</button>
  </mat-card-actions>
</mat-card>
